Flask==2.2.5
Flask-Cors
Flask-Login
Flask-Session
Flask-Bcrypt
Flask-WTF==1.2.1
flask-socketio
python-dotenv==1.0.1
cryptography
pycryptodome
yfinance
pandas
numpy
requests
aiohttp
retrying
alpha-vantage
bcrypt
blinker
certifi
charset-normalizer
click
idna
itsdangerous==2.1.2
Jinja2
Mako
MarkupSafe
multitasking
pycparser
python-dateutil
pytz
six
typing_extensions
tzdata
urllib3
Werkzeug
WTForms==3.1.2
fake-useragent
selenium
pytest
pyotp
email-validator==2.1.1
gunicorn==22.0.0
py-moneyed==2.0
flask-mongoengine==1.0.0